[Unit]
Description=User-level backup timer for restic job
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec=60
OnCalendar=hourly
Unit=restic.service

[Install]
WantedBy=timers.target
